<div class="profile" ng-show="vm.profile">
  <div class="jumbotron profile__header">
    <h1 class="profile__username">{{ vm.profile.username | uppercase }} <small>{{ vm.profile.is_admin ? 'ADMIN' : '' }}</small></h1>
    <h2 class="profile__first_name">{{ vm.profile.first_name }} {{ vm.profile.last_name }}</h2>
    <h3 class="profile__email">{{ vm.profile.email }}</h3>
    <h3 class="profile__phone">Phone - <strong>{{ vm.profile.phone }}</strong></h3>
    <h3 class="profile__rating">Rating - <strong>{{ vm.profile.rating }}<strong></h3>
    <p class="profile__bio">{{ vm.profile.bio }}</p>
  </div>
</div>
