<div class="jumbotron">
  <h2>{{ vm.league.name }} Team Standings</h2>
  <hr>
  <button type="button" style="float:right;" class="btn btn-primary" ng-click="vm.showModal()">Create Team</button>
  <div class="row">
    <table class="table-responsive">
      <thead>
        <tr>
          <th class="col-xs-2">Name</th>
          <th class="col-xs-2">Players</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="team in vm.teams" ng-class-odd="'alt'">
          <td class="col-xs-2">{{ team.name }}</td>
          <td class="col-xs-2 strong" ng-repeat="player in team.players"><a href="/{{ player.username }}"><strong>{{ player.username}}</strong></a></td>
        </tr>
      </tbody>
    </table>
  </div><!--/row-->
  <div class="row">
    <hr>
  </div>
</div><!--/container-->
