<div class="col-md-4 col-md-offset-4">
  <div class="well">
    <div class="col-xs-8 col-md-10" ng-show="vm.league.logo">
      <div class="thumbnail">
        <img src="{{ vm.league.logo }}" alt="No logo set">
      </div>
    </div>
    <form role="form" class="settings" ng-submit="vm.update()" style="clear:left;">
      <div class="form-group">
        <label for="settings__logo">Logo URL</label>
        <input type="text" class="form-control" id="settings__logo" ng-model="vm.league.logo"/>
      </div>

      <div class="form-group">
        <label for="settings__name">Name</label>
        <input type="text" class="form-control" id="settings__name" ng-model="vm.league.name"/>
      </div>

      <div class="form-group">
        <label for="settings__teamSize">Team Size</label>
        <input type="text" class="form-control" id="settings__teamSize" maxLength="1" ng-model="vm.league.teamSize"/>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  </div>
