<div class="col-md-4 col-md-offset-4">
  <div class="well" ng-show="vm.profile">
    <form role="form" class="settings" ng-submit="vm.update()">
      <div class="form-group">
        <label for="settings__email">Email</label>
        <input type="text" class="form-control" id="settings__email" ng-model="vm.profile.email"/>
      </div>

      <div class="form-group">
        <label for="settings__password">New Password</label>
        <input type="password" class="form-control" id="settings__password" ng-model="vm.profile.password"/>
      </div>

      <div class="form-group">
        <label for="settings__confirm-password">Confirm Password</label>
        <input type="password" class="form-control" id="settings__confirm-password" ng-model="vm.profile.confirm_password"/>
      </div>

      <div class="form-group">
        <label for="settings__username">Username</label>
        <input type="text" class="form-control" id="settings__username" ng-model="vm.profile.username"/>
      </div>

      <div class="form-group">
        <label for="settings__first_name">First Name</label>
        <input type="text" class="form-control" id="settings__first_name" ng-model="vm.profile.first_name"/>
      </div>

      <div class="form-group">
        <label for="settings__last_name">Last Name</label>
        <input type="text" class="form-control" id="settings__last_name" ng-model="vm.profile.last_name"/>
      </div>

      <div class="form-group">
        <label for="settings__bio">Bio</label>
        <textarea class="form-control" id="settings__bio" ng-model="vm.profile.bio"/>
      </div>

      <div class="form-group">
        <label for="settings__phone">Phone</label>
        <input type="text" class="form-control" id="settings__phone" ng-model="vm.profile.phone"/>
      </div>

      <div class="form-group">
        <label for="settings__sendReport">Send weekly email?</label><br>
        <input type="checkbox" style="width:30px; display:inline-block;" class="form-control" id="settings__sendReport" ng-model="vm.profile.sendReport"/>
        <p style="display:inline-block;">{{ vm.profile.sendReport ? 'Yes' : 'No' }}</p>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  </div>
